<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="posts content">
    <h2>All Posts</h2>
    <% if (posts.length > 0) { %>
      <% posts.forEach(post => { %>
        <h3 class="title"><%= post.title%></h3>
        <p class="preview"><%= post.preview%></p>
      <% }) %>      
    <% } else { %>
      <p>There are not posts to display...</p>
    <% } %>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>